body {
  background-image: repeating-linear-gradient(
      135deg,
      rgba(68, 68, 68, 0.07) 0px,
      rgba(68, 68, 68, 0.07) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(68, 68, 68, 0.07) 0px,
      rgba(68, 68, 68, 0.07) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(0deg, rgb(85, 212, 253), rgb(1, 75, 183));
}

button {
  background-image: repeating-linear-gradient(
      135deg,
      rgba(68, 68, 68, 0.07) 0px,
      rgba(68, 68, 68, 0.07) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(68, 68, 68, 0.07) 0px,
      rgba(68, 68, 68, 0.07) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(135deg, rgb(251, 168, 16), rgb(251, 222, 55));
  height: 10vh;
  width: 15vw;
  margin-left: 40%;
}
#ShibaImageContainer{
    margin-top: 8%;
    margin-left: 25%;
    height: auto;
    width: auto;
}
